[user]
	name = 
	email = 
	signingkey = 
[branch]
	autosetuprebase = always
[color]
	ui = auto
[alias]
	cl = clone
	st = status
	co = checkout
	br = branch
	addp = !git add -p && git commit
	ci = commit
	cia = commit -a
	ciaam = commit -a --amend
	ciam = commit --amend
	cif = commit --fixup
	ciaf = commit -a --fixup
	df = diff -w
	lg = log -p
	tip = log --color --format=fuller -1
	top = "!f() { git --no-pager log --color --graph -$([ -z \"$1\" ] && echo \"15\" ||  echo \"$1\") --format=\"%Cred%h%Creset %cN %Cgreen%ad%Creset%Cblue%d%Creset %s\" --date=short | awk 'BEGIN { count = 1 } { if($6 == \"\") { prefix = \"\" } else { prefix = count; count++ }; printf(\"\\033[1m%3s\\033[0m %s\\n\", prefix, $0) }'; }; f"
	pl = pull
	ps = push
	psfwl = push --force-with-lease
	pswt = !git push && git push --tags
	rbi = rebase -i
	rbias = rebase -i --autosquash
	rbc = rebase --continue
	sts = stash
	stsp = stash pop
	stsl = stash list
	stss = stash show
	stssp = stash show -p
	copysha = "!f() { git --no-pager log --graph -$([ -z \"$1\" ] && echo \"1\" ||  echo \"$1\") --format=\"%h\" | awk '/[[:alnum:]]/' | tail -1 | tr -cd \"[:alnum:]\" | xsel --clipboard --input; }; f"
	conflicts = !git ls-files --unmerged | cut -c51- | sort -u | xargs $EDITOR
	resolve = !git ls-files --unmerged | cut -c51- | sort -u | xargs git add
	uncommit = reset --soft HEAD^
	unstage = reset
	unchange = checkout --
	upstream = rev-parse --abbrev-ref --symbolic-full-name @{u}
	ureset = !git reset --hard $(git upstream)
[push]
	default = current
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg
